$bg-img-nightsky-small: url('../images/night_sky_5_small.jpg');
$bg-img-nightsky-medium: url('../images/night_sky_5_medium.jpg');
$bg-img-nightsky-large: url('../images/night_sky_5_large.jpg');
$bg-img-nightsky: -webkit-image-set(url('../images/night_sky_5_small.jpg') 1x), -webkit-image-set(url('../images/night_sky_5_medium.jpg') 2x) -webkit-image-set(url('../images/night_sky_5_large.jpg') 3x);
$bg-img-stars: url('../images/night_sky_5_transp_medium.png');
$bg-img-man-medium: url('../images/man_on_land_medium.png');
$bg-img-man-large: url('../images/man_on_land_large.png');
$bg-img-man: -webkit-image-set(url('../images/man_on_land_medium.png') 1x), -webkit-image-set(url('../images/man_on_land_medium.png') 2x), -webkit-image-set(url('../images/man_on_land_large.png') 3x);
$bg-city-night: url('../images/city_night_2.jpg');

$color-darkgrey: #262626;
$color-orange: #FF4C05;
$color-blue: #0B1AD8;
$color-lightblue: #00C1FF;
$color-purple: #66009B;
$color-lightpurple: #AF56FF;
$color-coolgrey: #474F72;
$color-white: #fff;
$color-black: #000;
