@import '_vars.scss';

// Get proper box-sizing.
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  border: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: $color-white;
}

// Remove default margins.
h1,h2,h3,h4,h5 {
  margin: 0;
}
a {
  color: $color-white;
}
h1 {
  line-height: 1.1;
}

#app {
  width: inherit;
  height: inherit;
  font-family: 'Raleway', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2em;
  color: white;
  // Because of all the extra divs that I'm forced to use because of React -_-.
  div,
  div div {
    width: inherit;
    height: inherit;
  }
}


  .main-body,
  .main-container,
  .animation-ad,
  .landing-page {
    width: inherit;
    height: inherit;
  }

  .animation-ad {
    background-color: $color-coolgrey;
    position: relative;
    overflow: hidden;
    h1 {
      padding: 15px;
    }
    .animation-title-offset {
      transform: translate3d(320px, 0, 0);
    }
    .animation-offset-container {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate3d(100%, 0, 0);
    }
    .animation-ad-container {
      width: 100%;
      height: 100%;
    }
  }
  .landing-page {
    background-color: $color-coolgrey;
    padding: 15px;
  }
  .main-container {
    background-color: black;

    .background-sky-container,
    .background-stars-container {
      position: absolute;
      width: inherit;
      height: inherit;
      top: 0;
      left: 0;
      overflow: hidden;
    }
    .background-sky {
      position: absolute;
      width: 200%;
      height: 100%;
      // Set image without using src-set incase there is no browser support for it.
      background-image: $bg-img-nightsky-medium;
      // Use background with src-set.
      background-image: $bg-img-nightsky;
      background-repeat: no-repeat;
      background-size: cover;
      animation: MOVE-LEFT 100s linear infinite alternate;
      @media (min-width: 414px) {
        background-image: $bg-img-nightsky-medium;
        background-image: $bg-img-nightsky;
        animation: MOVE-LEFT 100s linear infinite alternate;
      }
      @media (min-width: 1024px) {
        background-image: $bg-img-nightsky-large;
        background-image: $bg-img-nightsky;
        animation: MOVE-LEFT 120s linear infinite alternate;
      }
    }

    .background-stars {
      position: absolute;
      width: 200%;
      height: 100%;
      background-image: $bg-img-stars;
      background-repeat: no-repeat;
      background-size: cover;
      animation: MOVE-RIGHT 80s linear infinite alternate;
    }

    .background-man {
      position: absolute;
      width: inherit;
      height: inherit;
      // Set image without using src-set incase there is no browser support for it.
      background-image: $bg-img-man-medium;
      // Use background with src-set.
      background-image: $bg-img-man;
      background-repeat: no-repeat;
      // Width should be auto-adjusted and height should be about 30% of the screen.
      background-size: auto 30%;
      // All the way to the bottom and almost all the way to the right.
      background-position: 90% 100%;
      @media (min-width: 414px) {
        background-image: $bg-img-man-medium;
        background-image: $bg-img-man;
      }
      @media (min-width: 1024px) {
        background-image: $bg-img-man-large;
        background-image: $bg-img-man;
      }
    }

    .ad1 {
      position: absolute;
      width: 50%;
      bottom: 50%;
      padding: 2%;
    }
  }
  .city-night-ad {
      width: 100%;
      height: 100%;
      position: relative;
      h1, h3 {
        margin: 0;
        position: relative;
        z-index: 10;
        padding: 15px;
      }
    }
    .city-night-image {
      position: absolute;
      top: 0;
      left: 0;
      background-image: $bg-city-night;
      background-repeat: no-repeat;
      background-position: 0% 0%;
      background-size: cover;
      width: 200%;
      height: 100%;
      z-index: 5;
      //transition: transform 0.3s ease-out;
      
    }

.animation-container {
  position: relative;
}
.animation-canvas {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  height: 100%;

}

.ball-container {
  width: 20px;
  height: 20px;
  display: inline-block;
  //border-radius: 100%;
  
}
.ball-container-1 {
  transform-origin: top;
}
.ball-container-2 {
  transform-origin: left;
}
.line-container {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 20px;
  .ball-container {
    padding-left: 20px;
  }
}
.ball-head {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

/*.ball-head-2 {
  opacity: 0;
}*/

.blue {
  background: blue;
}
.red {
  background: red;
}
.green {
  background: green;
}
.white {
  background: $color-white;
}
.orange {
  background: $color-orange;
}

.text-orange {
  color: $color-orange;
}

@keyframes MOVE-LEFT {
  from {
    //background-position: bottom right;
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-50%, 0, 0);
    //background-position: bottom left;
  }
}
@keyframes MOVE-RIGHT {
  from {
    //background-position: bottom left;
    transform: translate3d(-50%, 0, 0);
  }
  to {
    //background-position: bottom right;
    transform: translate3d(0, 0, 0);
  }
}


.text-animation-ad {
  body {
    background: #474F72;
  }
  svg {
    width: 300px;
    height: 110px;
  }
  path {
    stroke: $color-orange;
    stroke-width: 2px;
    stroke-linecap: round;
    fill: transparent;
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: char-anim ease-out 2s forwards;
    animation-delay: 0.5s;
  }
  path.white {
    fill: transparent;
    background: transparent;
    stroke: #BFBFBF;
    stroke-width: 1px;
    animation: char-white-anim ease-in-out 2s forwards;
  }

  @keyframes char-white-anim {
    from {
      //stroke-dasharray: 200px;
      stroke-dashoffset: 200px;
    }
    to {
      //stroke-dasharray: 0;
      stroke-dashoffset: 0;
    }
  }
  @keyframes char-anim {
    from {
      //stroke-dasharray: 200px;
      stroke-dashoffset: 200px;
    }
    to {
      //stroke-dasharray: 0;
      stroke-dashoffset: 0;
    }
  }
}
